<div class="forgot-password__page" role="forgot-password-page">
    <div class="container-fluid">
        <div class="row g-0">
            <div class="col-12 col">
                <div class="forgot-password__column">
                    <div class="forgot-password-form" role="forgot-password-form">
                        <h1 class="forgot-password__title">Quên mật khẩu</h1>
                        <form name="forgot-passwordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                            <div class="input-block">
                                <label for="user" class="forgot-password__email">Địa chỉ Email: </label>
                                <i class="fa-solid fa-envelope icon"></i>
                                <input formControlName="email" class="input" placeholder="Nhập email"/>
                                <span class="error" *ngIf="forgotPasswordForm.get('email')?.touched && 
                                    forgotPasswordForm.get('email')?.hasError('required')">Xin hãy nhập địa chỉ email</span>
                                <span class="error" *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Địa chỉ email không hợp lệ</span>
                            </div>
                        </form>
                        <button type="submit" name="submit" class="btn forgot-password__btn">Đổi mật khẩu</button>
                        <div class="register-and-login">
                            <a routerLink="/login" class="link">Quay lại đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>