
  <div class="container-xl">
    <h1 class="title">Cập nhật danh sách home slide</h1>
    <form action="changeBannerInfoForm" [formGroup]="homeSlideForm" class="form">
      <div class="block">
        <label for="home_slide_name" class="label">Tên home slide</label>
        <input formControlName="home_slide_name" type="text" class="input">
        <span class="error" *ngIf="homeSlideForm.get('home_slide_name').touched && 
                  homeSlideForm.get('home_slide_name').hasError('required')">Xin hãy nhập tên home slide</span>
        <button class="btn btn-success btn-find">Tìm kiếm</button>
        <button type="button" class="btn btn-success btn-create" (click)="showAdd()">
          <i class="fa-solid fa-plus"></i>
          Tạo mới
        </button>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Tên </th>
          <th scope="col">Ảnh </th>
          <th scope="col">Link</th>
          <th scope="col">Trạng thái</th>
          <th scope="col">Chỉnh sửa gần nhất</th>
          <th scope="col">Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of homeSlideList">
          <td>{{item.home_slide_name}}</td>
          <td><img src="{{imageServer + item.home_slide_image}}" class="home-slide"></td>
          <td>{{item.link}}</td>
          <td *ngIf="item.isShowing===true">Đang hiện trên trang chủ</td>
          <td *ngIf="item.isShowing===false">Chờ</td>
          <td *ngIf="item.modified_at===null">{{item.created_at| date: 'dd/MM/yyyy'}}</td>
          <td *ngIf="item.modified_at!==null">{{item.modified_at| date: 'dd/MM/yyyy'}}</td>
          <td>
            <button (click)="showEdit(item.home_slide_id)" class="edit-link">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <a (click)="deleteItem(item.home_slide_id)" class="delete-link">
              <i class="fa-solid fa-xmark"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div bsModal #modalAddEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left title">Thêm/sửa phân loại công việc</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addEditForm" class="form" (ngSubmit)="saveData()">
          <div class="block">
            <input type="hidden" formControlName="home_slide_id" name="home_slide_id">
            <label for="home_slide_name" class="label">
              Tên slide trang chủ
            </label>
            <input formControlName="home_slide_name" type="text" class="input">
            <span class="error" *ngIf="addEditForm.get('home_slide_name').touched && 
                      addEditForm.get('home_slide_name').hasError('required')">Xin hãy nhập tên slide trang chủ
            </span>
          </div>
          <div class="block">
            <label for="link" class="label">
              Link
            </label>
            <input formControlName="link" type="text" class="input">
            <span class="error" *ngIf="addEditForm.get('link').touched && 
                      addEditForm.get('link').hasError('required')">Xin hãy nhập Link
            </span>
          </div>
          <div class="block">
            <label for="home_slide_image" class="label">
              Ảnh
            </label>
            <input type="file" class="input" #homeSlideImage name="homeSlideImage">
            <input type="hidden" formControlName="home_slide_image">
          </div>
          <div class="block">
            <label for="isShowing" class="label">
              Trạng thái
            </label>
            <input formControlName="isShowing" type="checkbox">
          </div>
          <button class="btn btn-success btn-save" type="submit">
            <i class="fa-solid fa-plus"></i>Cập nhật
          </button>
          <button class="btn btn-danger btn-cancel" type="button" (click)="modalAddEdit.hide()">
            <i class="fa-solid fa-xmark"></i>Quay lại
          </button>
        </form>
      </div>
  </div>
</div>

