<div class="sidebar">
    <div class="container-fluid">
        <div class="header">
            <div class="brand-title">
                <div class="logo-holder">
                    <img src="../../../assets/img/logo/logo.jpg" alt="" class="logo">
                </div>
                <h5>Quản lý thông tin</h5>
            </div>
            <button class="toggle-button" (click)="toggleSidebar(); adjustPage()">
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>
        <!-- <a class="item" routerLink="/main/home">
            <div class="link">
                <div class="icon-holder">
                    <i class="fa-solid fa-house home-icon icon"></i>
                </div>
                <h5 class="title">Trang chủ</h5>
            </div>
        </a> -->
        <a class="item" (click)="toggleUserSubMenu()" [attr.aria-expanded]="!isUserOpen" aria-controls="collapseBasic">
            <div class="link">
                <div class="icon-holder">
                    <i class="fa-solid fa-user icon"></i>
                </div>
                <h5 class="title">Quản lý người dùng</h5>
                <div class="icon-holder toggle-icon">
                    <i class="fa-solid fa-caret-down icon"></i>
                </div>
            </div>
        </a>
        <div [collapse]="!isUserOpen" [isAnimated]="true" id="collapseBasic">
            <ul id="sub-item__list">
                <a routerLink="/main/roles" class="link">
                    <li class="sub-item">
                        Nhóm quyền
                    </li>
                </a>
                <a routerLink="/main/users" class="link">
                    <li class="sub-item">
                        Người dùng
                    </li>
                </a>
            </ul>
        </div>
        <a class="item" routerLink="/main/job">
            <div class="link" (click)="false">
                <div class="icon-holder">
                    <i class="fa-solid fa-briefcase job-icon icon"></i>
                </div>
                <h5 class="title">Quản lý các công việc</h5>
            </div>
        </a>
        <!-- <a class="item" routerLink="/main/company">
            <div class="link" (click)="false">
                <div class="icon-holder">
                    <i class="fa-solid fa-briefcase job-icon icon"></i>
                </div>
                <h5 class="title">Quản lý các công ty</h5>
            </div>
        </a> -->
        <a class="item" (click)="toggleInfoSubMenu()" [attr.aria-expanded]="!isInfoOpen" aria-controls="collapseBasic">
            <div class="link">
                <div class="icon-holder">
                    <i class="fa-solid fa-file-lines icon"></i>
                </div>
                <h5 class="title">Quản lý thông tin website</h5>
                <div class="icon-holder toggle-icon">
                    <i class="fa-solid fa-caret-down icon"></i>
                </div>
            </div>
        </a>
        <div [collapse]="!isInfoOpen" [isAnimated]="true" id="collapseBasic">
            <ul id="sub-item__list">
                <a routerLink="/main/province" class="link">
                    <li class="sub-item">
                        Tỉnh/thành phố
                    </li>
                </a>
                <a routerLink="/main/category" class="link">
                    <li class="sub-item">
                        Danh mục công việc
                    </li>
                </a>
                <a routerLink="/main/level" class="link">
                    <li class="sub-item">
                        Trình độ công việc
                    </li>
                </a>
                <a routerLink="/main/home-slide" class="link">
                    <li class="sub-item">
                        Home Slide
                    </li>
                </a>
                <a routerLink="/main/salary" class="link">
                    <li class="sub-item">
                        Mức lương
                    </li>
                </a>
                <a routerLink="/main/tos" class="link">
                    <li class="sub-item">
                        Điều khoản dịch vụ
                    </li>
                </a>
                <a routerLink="/main/security" class="link">
                    <li class="sub-item">
                        Chính sách bảo mật
                    </li>
                </a>
                <a routerLink="/main/working-type" class="link">
                    <li class="sub-item">
                        Cách thức làm việc
                    </li>
                </a>
                <a routerLink="/main/welfare-type" class="link">
                    <li class="sub-item">
                        Loại phúc lợi
                    </li>
                </a>
            </ul>
        </div>
        <a class="item" (click)="logout()">
            <div class="link">
                <div class="icon-holder">
                    <i class="fa-solid fa-right-from-bracket logout-icon icon"></i>
                </div>
                <h5 class="title">Đăng xuất</h5>
            </div>
        </a>
    </div>
</div>